/* #region ||||| UTILITIES RULES ||||| */

:root {
  --bs-primary: rgba(26, 188, 156, 1);
  --bs-secondary: rgba(44, 62, 80, 1);
  --bs-secondary_light: rgba(58, 84, 109, 1);
  --bs-backgound_light: rgba(234, 234, 234, 1);
  --bs-font_light: rgba(255, 255, 255, 1);
}

/* #endregion ||||| UTILITIES RULES ||||| */


/* #region ||||| DEBUG RULES ||||| */

.debug {

  #site_header {
    background-color: var(--bs-secondary);
    color: var(--bs-font_light);
  }

  #site_main {

    ._banner {
      background-color: var(--bs-primary);
      color: var(--bs-font_light);

      .container {

        ._profile_img {

          img {
            height: 200px;
            aspect-ratio: 1;
          }
        }

        ._divider {

          hr {
            border: 1px solid var(--bs-font_light);
          }
        }
      }
    }

    ._portfolio {
      background-color: var(--bs-backgound_light);
      color: var(--bs-secondary);

      ._divider {

        hr {
          border: 1px solid var(--bs-secondary);
        }
      }
    }

    ._about {
      background-color: var(--bs-primary);
      color: var(--bs-font_light);

      ._btn {
        background-color: var(--bs-primary);
        color: var(--bs-font_light);
        border: 1px solid var(--bs-font_light);
      }

    }

    ._contact_me {

      ._contact_form {
        width: 100%;
        gap: 1rem;

        input,
        textarea {
          width: 100%;
        }
      }
    }
  }
}

/* #endregion ||||| DEBUG RULES ||||| */

/* #region ||||| COMMON RULES ||||| */

img {
  max-width: 100%;
}

._divider {

  hr {
    width: 50px;
  }

  i {
    padding: 0 0.3rem;
  }
}

/* #endregion ||||| COMMON RULES ||||| */


/* #region ||||| MEDIA QUERIES ||||| */


/* #endregion ||||| MEDIA QUERIES ||||| */