/* #region ||||| UTILITIES RULES ||||| */

:root {
  --bs-primary: rgba(26, 188, 156, 1);
  --bs-secondary: rgba(44, 62, 80, 1);
  --bs-secondary_light: rgba(58, 84, 109, 1);
  --bs-backgound_light: rgba(234, 234, 234, 1);
  --bs-font_light: rgba(255, 255, 255, 1);
}

._bg_primary {
  background-color: var(--bs-primary);
  color: var(--bs-font_light);
}

._bg_secondary {
  background-color: var(--bs-secondary);
  color: var(--bs-font_light);
}

._bg_secondary_light {
  background-color: var(--bs-secondary_light);
  color: var(--bs-font_light);
}

._bg_light {
  background-color: var(--bs-backgound_light);
  color: var(--bs-secondary);
}

._font_color_light {
  color: var(--bs-font_light);
}

._link_color {
  color: var(--bs-primary);
}

._navbar_toggler_light {
  filter: invert(1);
}

._icon_border {
  width: 50px;
  height: 50px;
  padding: 0.8rem;
}

/* #endregion ||||| UTILITIES RULES ||||| */


/* #region ||||| COMMON RULES ||||| */

img {
  max-width: 100%;
}

._hr_bold_light {
  width: 10%;
  height: 3px;
  border-radius: 2px;
  opacity: 1;
  background-color: var(--bs-font_light);
  color: var(--bs-font_light);
  border: 1px solid var(--bs-font_light);
}

._hr_bold_dark {
  width: 10%;
  height: 3px;
  border-radius: 2px;
  opacity: 1;
  background-color: var(--bs-secondary);
  color: var(--bs-secondary);
  border: 1px solid var(--bs-secondary);
}

/* #endregion ||||| COMMON RULES ||||| */


/* #region ||||| MAIN ||||| */

#site_main {

  ._banner {

    ._profile_img {

      img {
        height: 200px;
        aspect-ratio: 1;
      }
    }

  }

  ._contact_me {

    ._contact_form {
      width: 100%;

      textarea {
        height: 150px;
      }
    }
  }
}

/* #endregion ||||| MAIN ||||| */


/* #region ||||| FOOTER ||||| */

#site_footer {

  ._footer_top {
    span {
      font-size: 0.9rem;
    }
  }

  ._footer_bottom {

    span {
      font-size: 0.7rem;
    }

    ._socials {

      i {
        width: 16px;
        height: 16px;
      }
    }
  }
}

/* #endregion ||||| FOOTER ||||| */