/* #region ||||| UTILITIES RULES ||||| */

:root {
  --bs-primary: rgba(26, 188, 156, 1);
  --bs-secondary: rgba(44, 62, 80, 1);
  --bs-secondary_light: rgba(58, 84, 109, 1);
  --bs-backgound_light: rgba(234, 234, 234, 1);
  --bs-font_light: rgba(255, 255, 255, 1);
}

/* #endregion ||||| UTILITIES RULES ||||| */


/* #region ||||| DEBUG RULES ||||| */

.debug {

  #site_header {
    background-color: var(--bs-secondary);
    color: var(--bs-font_light);
  }

  #site_main {

    ._banner {
      background-color: var(--bs-primary);
      color: var(--bs-font_light);

      .container {

        ._profile_img {

          img {
            height: 200px;
            aspect-ratio: 1;
          }
        }

        ._divider {

          hr {
            width: 50px;
            border: 1px solid red;
          }

          i {
            padding: 0 0.3rem;
          }
        }
      }
    }
  }
}

/* #endregion ||||| DEBUG RULES ||||| */


/* #region ||||| MEDIA QUERIES ||||| */


/* #endregion ||||| MEDIA QUERIES ||||| */